[Unit]
Description=LinkStack (Multi-link page)
After=network-online.target

Requires=03-linkstack-data.volume
After=03-linkstack-data.volume


[Container]
Image=git.yadr00.internal/build/linkstack:latest
AutoUpdate=registry

# РАЗРЕШАЕМ ПОРТ 80 ТОЛЬКО ВНУТРИ ЭТОГО КОНТЕЙНЕР
Sysctl=net.ipv4.ip_unprivileged_port_start=80

PublishPort=10002:80

Environment=TZ=Europe/Moscow
Environment=PHP_MEMORY_LIMIT=256M
Environment=LOG_LEVEL=info
Environment=SERVER_ADMIN=admin@localhost
Environment=HTTP_SERVER_NAME=localhost
Environment=HTTPS_SERVER_NAME=localhost
Volume=linkstack-data:/htdocs

[Install]
WantedBy=default.target
