[Unit]
Description=LinkStack (Multi-link page)
After=network-online.target

[Container]
Image=git.yadr00.internal/build/linkstack:latest
AutoUpdate=registry

Sysctl=net.ipv4.ip_unprivileged_port_start=80
PublishPort=10002:80


# Мапим пользователя хоста в пользователя apache внутри контейнера
UserNS=keep-id:uid=100,gid=101

# Проброс папки (теперь без флагов U и copy, так как UserNS решает проблему прав)
Volume=/opt/appdata/db/linkstack:/htdocs

[Install]
WantedBy=default.target
