# Тип хранилища
ATHENS_STORAGE_TYPE=minio

# Адрес S3 сервера 
ATHENS_MINIO_ENDPOINT=172.20.50.13:9000

# Бакет
ATHENS_MINIO_BUCKET_NAME=athens-gomods

# Ключи
ATHENS_MINIO_ACCESS_KEY_ID=
ATHENS_MINIO_SECRET_ACCESS_KEY=

ATHENS_MINIO_USE_SSL=false