[Unit]
Description=Athens Go Proxy
After=network-online.target

[Container]
# Указываем официальный образ (добавляем docker.io для безопасности)
Image=git.yadr00.internal/build/athens:latest

AutoUpdate=registry

# Проброс порта (10001 внешний, 3000 внутренний по умолчанию у Athens)
PublishPort=10001:3000

# Подключаем файл с переменными среды (пароли и настройки S3)
EnvironmentFile=/opt/appdata/config/athens/athens.env

[Install]
WantedBy=default.target